.primary {
  color: $primary !important;
}
.success {
  color: $success !important;
}
.info {
  color: $info !important;
}
.warning {
  color: $warning !important;
}
.danger {
  color: $danger !important;
}
.secondary {
  color: $secondary !important;
}
.white {
  color: $white !important;
}
.gray-7 {
  color: $gray-7;
}
.gray-8 {
  color: $gray-8;
}
